profiles {

    standard {
        process.executor = 'local'
        process.container = 'ndatth/circall:v1.0.1'
        runOptions = '-u $(id -u):$(id -g)'
        docker.enabled = true
    }

    cluster {

        process {
            executor       = 'slurm'
            queue          = 'orion'
            memory         = '8G'
            container      = 'ndatth/ubuntu:22.04'
            errorStrategy  = 'retry'
            maxRetries     = 5            // retry up to 5 times
            maxErrors      = -1           // allow unlimited total retries (can set a number if desired)
        }

        singularity {
            enabled    = true
            autoMounts = true
            runOptions = "--bind /tmp:/tmp"
        }

        executor {
            queueSize       = 30
            submitRateLimit = '10 sec'
        }
    }
}
